article {
  background: white;
  border: 1px solid #cccccc;
  margin: 20px auto;
  padding: 20px;
  width: 640px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

figcaption {
  color: #aa8888;
  display: none;
  float: right;
  font-family: courier;
  width: 200px;
}

figure {
  display: none;
  float: left;
  width: 380px;
}

footer {
  color: #bbbbbb;
  font-size: 10px;
  font-style: italic;
  margin: 20px 0;
  text-align: center;
}

section {
  background-color: #efefef;
  margin: 20px 0;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
}

.active {
  background-color: #fdf6e3;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

.lightning:after {
  content: url(/assets/lightning.png) no-repeat;
}

.demo-01 .cross {
  background: url(/assets/cross.png);
  height: 32px;
  width: 32px;
}

@font-face {
  font-family: "Gardener";
  src: url(/assets/gardener.eot);
  src: url(/assets/gardener.eot?#iefix) format('eot'), url(/assets/gardener.woff) format('woff'), url(/assets/gardener.ttf) format('truetype'), url(/assets/gardener.svg) format('svg');
}

.demo-02 .gardner {
  font-family: "Gardener";
}

.demo-03 .rounded {
  border: 2px solid #999999;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius-bottomright: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -ms-border-bottom-right-radius: 40px;
  -o-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.demo-04 .gradient {
  color: white;
  line-height: 32px;
  min-height: 32px;
  padding-left: 32px;
  background: url(/assets/smiley.png) no-repeat, -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #333333), color-stop(100%, #00cc00));
  background: url(/assets/smiley.png) no-repeat, -webkit-linear-gradient(top left, #333333, #00cc00);
  background: url(/assets/smiley.png) no-repeat, -moz-linear-gradient(top left, #333333, #00cc00);
  background: url(/assets/smiley.png) no-repeat, -o-linear-gradient(top left, #333333, #00cc00);
  background: url(/assets/smiley.png) no-repeat, -ms-linear-gradient(top left, #333333, #00cc00);
  background: url(/assets/smiley.png) no-repeat, linear-gradient(top left, #333333, #00cc00);
}

.demo-05 .transition {
  background: #996666;
  color: white;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  width: 100px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
.demo-05 .transition:hover {
  width: 200px;
}

.demo-06 .very-transparent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
.demo-06 .semi-transparent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.demo-06 .somewhat-transparent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.scenery-sprite, .demo-07 .sprite {
  background: url(/assets/scenery-sa17d819466.png) no-repeat;
}

.demo-07 .sprite {
  height: 32px;
  width: 32px;
  background-position: 0 0;
}
.demo-07 .sprite:hover, .demo-07 .sprite.scenery_hover, .demo-07 .sprite.scenery-hover {
  background-position: 0 -32px;
}
