#home
  %article
    %h1.lightning Compass lightning talk
    %p
      %a(href="http://compass-style.org/")http://compass-style.org/
    %section
      %h1 The &ldquo;compass/reset&rdquo; module
      %figure
        %p Exciting, isn't it?
    %section.demo-01
      %h1 Image via <code>image-url</code> helper
      %figure
        .cross
      %figcaption
        This is an element with the background image set using the
        <code>image-url</code> helper
    %section.demo-02
      %h1 <code>font-face</code> helper
      %figure
        %p.gardner
          This is text using the &ldquo;Gardener&rdquo; font, set using the
          <code>font-face</code> helper.
    %section.demo-03
      %h1 Rounded corners
      %figure
        .rounded
          This box has some rounded corners.
      %figcaption
        I used the <code>border-radius</code> mixin for the base style, and then
        changed one of the corners with <code>border-bottom-right-radius</code>
    %section.demo-04
      %h1 Gradients
      %figure
        .gradient
          This element has a background gradient
    %section.demo-05
      %h1 CSS3 transitions
      %figure
        .transition
          Hover
      %figcaption
        This element has a 2 second transition which will animate its width
        property on hover.
    %section.demo-06
      %h1 Opacity
      %figure
        .very-transparent
          =image_tag 'disc-blue.png'
        .semi-transparent
          =image_tag 'disc-blue.png'
        .somewhat-transparent
          =image_tag 'disc-blue.png'
      %figcaption
        The icons to the right have 25%, 50% and 75% opacity
    %footer
      Causes lightning talks, March 2, 2012
