// overall page styles

article
  background: #fff
  border: 1px solid #ccc
  margin: 20px auto
  padding: 20px
  width: 640px
  +border-radius(10px)

figcaption
  color: #a88
  display: none
  float: right
  font-family: courier
  width: 200px

figure
  display: none
  float: left
  width: 380px

footer
  color: #bbb
  font:
    size: 10px
    style: italic
  margin: 20px 0
  text-align: center

section
  background-color: #efefef
  margin: 20px 0
  padding: 20px
  +border-radius(5px)
  +clearfix

.active
  background-color: #fdf6e3
  +box-shadow

.lightning:after
  content: image-url('lightning.png') no-repeat

// demo styles

.demo-01
  .cross
    background: image-url('cross.png')
    height: 32px
    width: 32px

+font-face('Gardener', font-files("gardener.woff", woff, "gardener.ttf", truetype, 'gardener.svg', svg), "gardener.eot")

.demo-02
  .gardner
    font-family: 'Gardener'

.demo-03
  .rounded
    border: 2px solid #999
    padding: 20px
    +border-radius(10px)
    +border-bottom-right-radius(40px)

.demo-04
  .gradient
    min-height: 32px
    padding-left: 32px
    +background(image-url('smiley.png') no-repeat, linear-gradient(top left, #333, #0c0))

.demo-05
  .transition
    background: #966
    width: 100px
    +transition-property(width)
    +transition-duration(2s)
  .transition:hover
    width: 200px

.demo-06
  .very-transparent
    +opacity(0.25)
  .semi-transparent
    +opacity(0.5)
  .somewhat-transparent
    +opacity(0.75)

@import 'scenery/*.png'

.demo-07
  .sprite
    height: 32px
    width: 32px
    +scenery-sprite(scenery)
